<% include partial/header.ejs %>
<form action="/photoAdded" method="POST"> 
    <input type="text" name='title' placeholder="Title"> <br>
    <input type="text" name='image' placeholder="Image Link"> <br>
    <input type="text" name='description' placeholder="Image Description"> <br>
    <button>Add</button>
</form>

<br>
<% include partial/footer.ejs %>
