<% include ./partial/header.ejs %>

    <div class="container">
        <header>
            <div class="jumbotron">
                <h1>Your Personal Photo Gallery</h1>
                <a href="/photo/add" class='btn btn-primary'>Click Here for add more image</a>
            </div>
        </header>


    <% include ./partial/footer.ejs %>
